@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
.header
{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 700;
}
.position
{
    display: flex;
    flex-direction: row;
    gap: 10rem;
    
}

.sunlogo
{
    width: 1rem;
    height: 1rem;
}