.main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    gap:2rem;
}
.listBars
{
    background-color:hsl(235, 19%, 35%);
    border-width: 0;
    height: 1.5rem;
    border: none;
}